Data_supervised
Data_clustering
tiff_experiment_unsupervised_data
animals
saved_models
Trial1-10032024 (After Treatment)
drug_screened
Day10_drugscreened&singledose_untreated
single_Day10_drugscreened&singledose_untreated
day7_day10
.vscode
crop_simclr
day10today10
kmeans_rank_class