Data_supervised
tiff_experiment_unsupervised_data
animals
saved_models
tiff_pretrained_mg.ipynb
logistic_regression.ipynb
Trial1-10032024 (After Treatment)
logi_final_1D.ipynb
logi_final.ipynb
worked_resnet_supervised_1d.ipynb
not_working_n_augs_resnet_supervised_1d.ipynb